{% extends 'base/base.html' %}
{% block content %}
<h2>Event Registration</h2>
<table>
    <tr>
        <th>Event Name</th>
        <th>Action</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.name }}</td>
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="event_id" value="{{ event.id }}">
                <button type="submit">Register</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
